<% if !user_signed_in? %>
  <style>
    body {
      background: linear-gradient(
        rgba(0,0,0, 0.7),
        rgba(0,0,0, 0.7)
        ), url("/bg.jpg") no-repeat center center fixed;


      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    h1 {
      color: white;
      font-weight: bold;
    }
    .container-index {
      margin-right: 15%;
      margin-left: 15%;
    }
    .text {
      color: white;
      font-weight: 300;
      font-size: 150%;
    }
    .footer-links {
      text-align: center;
      color: white;
      margin-top: 30%;
      font-size: 75%
    }
    .login {
      float: right;
      width: 300px;
      height: 150px;
      margin-top: 7.5%;
    }
    .signup {
      float: right;
      width: 300px;
      height: 250px;
    }
  </style>

  <div class="container-index row">
    <div class="col-sm-6">
      <h1>Welcome to DevSocial.</h1>
      <p class="text">
        A social network built for developers, by developers<br /> (<b>obviously</b>).
      </p>
    </div>
    <div class="col-sm-6">
      <div class="login card">
        Login
      </div>
      <div class="signup card">
        Signup
      </div>
    </div>

    <div class="col-sm-12">
      <p class="footer-links">Created by Zak Farmer</p>
    </div>
  </div>
<% else %>
  <script>document.location = "/home"</script>
<% end %>
