<div class="row">
  <div class="col-12">
    <div class="jumbotron">
      <div class="container">
        <%= @username %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-3">
    <div class="card">
      <div class="card-block">
        <p>Profile</p>
      </div>
    </div>
  </div>

  <div class="col-6">
    <%= render 'components/post_form' %>
    <% for @p in @posts %>
    <div class="card">
      <div class="card-block">
        <p><%= @p.content %></p>
      </div>
    </div>
    <% end %>
  </div>

  <div class="col-3">
    <div class="card">
      <div class="card-block">
        <p>About</p>
      </div>
    </div>
  </div>
</div>
