<nav class="navbar navbar-dark navbar-expand-lg bg-primary">
    <a class="navbar-brand" href="#">DevSocial</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/explore">Explore</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
        <%= link_to('Settings', edit_user_registration_path, class: "nav-link") %>
        <%= link_to('Logout', destroy_user_session_path, :method => :delete, class: "nav-link") %>
      </ul>
      <span class="navbar-text">
        <b>Welcome</b>, <%= current_user.username %>!
      </span>
    </div>
  </nav>
